@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

#indexH1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 35px;
}

h1 {
  font-size: 32px;
}

.navbar-default .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: large;
}

label {
	font-weight: 400;	
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#userAvatar{
  max-height: 300px;
  max-width: 300px;
  /* width: 100%; */
  /* border: 0 none;
  box-shadow: none; */
  display: inline-block;
}

.delete-form {
	display: inline-block;
}

@media (min-width: 768px) {
	.thumbnail img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
	.jumbotron h1 {
    font-size: 50px;
  }
}

.jumbotron .glyphicon {
  top: 5px;
  font-size: 35px;
}

.jumbotron p {
  font-size: 19px;
}

@media (min-width: 768px) {
	#images {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
}

@media (min-width: 768px) {
	#showPageImage {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

#map {
	margin-top: 10px;
	height: 400px;
	width: 100%;
}

#descriptionBox {
  width:70%;
  padding-top:5px;
  padding-left:3px;
  padding-bottom:10px;
}

/* for mobile screen size */
@media only screen and (max-width: 500px){
  h1 {
    margin-top: 10px;
  }
  .jumbotron .glyphicon {
    font-size: 65%;
    top: 3px;
  }
  #indexTitle {
    font-size: 25px;
  }
  .jumbotron p {
    font-size: 14px;
  }
  .btn-lg {
    font-size: 13px;
    padding: 6px 12px;
    /* margin-top: 7px; */
  }
}